<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configdata>
	<production>
		<data>
			<date>13-Okt-2013</date>
			<title>Zend Framework 1.12</title>
			<teaser>Hier kann ein kurzer Text über das shooting stehen.</teaser>
			<path>0</path>
		</data>
		<data>
			<date>21-Okt-2013</date>
			<title>MySQL 5.5.34-0ubuntu0.13.10.1</title>
			<teaser>Hier kann ein kurzer Text über das shooting stehen.</teaser>
			<path>cindy</path>
		</data>
	</production>
</configdata>